@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Scada',Arial, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* */

#escolha{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

h1{
    padding: 1em 0;
    text-align: center;
}

#numtext{
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 30px;
    padding: 0.7em;
    text-align: center;
    font-size: 2em;
    border-radius: 10px;
    border: 1px solid #000;
}

#escolha button{
    margin-top: 0.5em;
    width: 100%;
    max-width: 300px;
    height: 40px;
    text-align: center;
    font-size: 2em;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #dc143c;
    transition: 0.3s;
}

#escolha button:hover{
    background-color: #a01834;
}

#resultado{
    margin: 1em 0;
    font-size: 2em;
}