@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lexend Peta',Arial, Helvetica, sans-serif ;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #00f8f8;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 0.4em 0;
}

/* */

section{
    width: 100%;
    height: 100%;
    position: relative;
}

.titulo{
    text-transform: uppercase;
    font-size: 3em;
    padding: 1em 0;
    text-align: center;
    color: #fff;
}

.dados{
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

#formulario{
    background-color: #fff;
    padding: 4em;
    border-radius: 10px;
    color: #fff;
    box-shadow: 3px 5px #096969;
}

h2{
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 1em 0;
}

.info{
    margin: 1em 0 0 0;
    width: 100%;
    max-width: 300px;
    height: 50px;
    outline: 0;
    border: 1px solid  #fff;
    border-bottom: 1px solid #000;
}

.disciplinas{
    margin: 2em auto;
    max-width: max-content;
}

input[type=radio]{
    display: block;
    cursor: pointer;
}

label{
    margin-left: 0.4em;
    text-align: left;
    color: #000;
}

.nota{
    width: 100%;
    max-width: 100px;
    height: 50px;
    outline: 0;
    border: 1px solid  #fff;
    border-bottom: 1px solid #000;
}

.adicionar{
    margin: 1em 0 0 0;
    width: 100%;
    padding: 1em;
    max-width: 200px;
    font-size: 1em;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
    background-color: #00f8f8;
    color:#fff;
}

.adicionar:hover{
    transform: translateY(-10px);
    box-shadow: 3px 5px #096969;
}

.enviar{
    margin: 1em 0 0 0;
    width: 100%;
    max-width: 300px;
    font-size: 1.5em;
    border: 0;
    border-radius: 40px;
    padding: 0.5em 0;
    cursor: pointer;
    transition: 0.4s;
    background-color: #00f8f8;
    color: #fff;
}

.enviar:hover{
    transform: translateY(-10px);
    box-shadow: 3px 5px #096969;
}

#resultado{
    margin: 2em 0 0 0;
}

#resultado-notas{
    margin: 2em 0 0 0;
    padding: 0.5em 0;
    color: #000;
    text-align: left;
}

.total-nota{
    padding: 2em 0 0 0;
    color: #000;
}

#tabela{
    width: 150px;
    margin: 3em 0 0 0;
    padding: 1em;
    overflow: hidden;
}
